.campers_list_container {
  width: 888px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.campers_list {
  width: 888px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-sizing: border-box;
}

.load_more {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.005em;
  color: var(--main);
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  padding: 16px 32px;
  border-radius: 200px;
  width: 166px;
  transition: var(--transition);
  cursor: pointer;
}

.load_more:hover {
  border-color: var(--button-hover);
}
.no_found {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--main);
  text-align: center;
}
